---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: default
pagination:
  enabled: true
---

  {% for post in paginator.posts %}
  {% include post_listing.html post=post %}

  {% endfor %}
  {% if paginator.total_pages > 1 %}
  <nav class="paginator">

      {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
      {% else %}
          <span aria-hidden="true"></span>
      {% endif %}
      {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
      {% endif %}
  </nav>
  {% endif %}
