---
layout: default
permalink: /tags/
title: All Tags
description: a list of tags on the weld's blog
---
<section class="tags-list">

<h2>Tags:</h2>
<ul>
  {% capture tag_sizes %}{% for tag in site.tags %}{{ tag[1].size | plus: -10000 }} {{ tag[0] }}^{% endfor %}{% endcapture %}
{% assign tags_sorted_by_number_of_posts = tag_sizes | split: '^' | sort %}
{% for pre_processed_tag in tags_sorted_by_number_of_posts %}
{% assign tag_with_size = pre_processed_tag | split: ' ' %}
{% assign key = tag_with_size[1] %}
{% assign tag = site.tags[key] %}
{% if tag.size > 0 %}
{% assign tagname = key %}
  <li><a href="{{ tagname | downcase | append: ".html" | prepend: "/tags/" | link |relative_url }}">{{tagname}}</a> <span class="post-meta">({{tag.size}} posts)</span></li>
{% endif %}
{% endfor %}
</ul>
</section>
