<footer>
  <p>
    This site is in the <a href="http://eerie.garden">Eerie Garden</a>, come garden with us! The primary font used here is <a href="https://www.luciole-vision.com/luciole-en.html">Luciole</a>, and the header text is <a href="http://www.kimberlygeswein.com/handwritten-fonts/">Architect's Daughter</a>.
  </p>
  <p>
    As much as we can, we legally give up all copyright or licensing on this website. Credit is nice, but not required - take what you will from our design, our writing, etc. 💚🖤💖💙
  </p>
</footer>
