<head>
  <meta charset="utf-8">
  <title>{% if page.title and page.title != site.title %} {{ page.title }} - {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}" />
  <link id="color-theme" rel="stylesheet" href="{{ "/assets/css/colors/light.css" | relative_url }}" />
  <meta name="description" content="{% if page.description %}{{page.description}}{%else%}{{site.description}}{%endif%}">
  <meta property="og:description" content="{% if page.description %}{{page.description}}{%else%}{{site.description}}{%endif%}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{"/apple-touch-icon.png" | relative_url}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{"/favicon-32x32.png" | relative_url}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{"/favicon-16x16.png" | relative_url}}">
  <link rel="manifest" href="{{"/site.webmanifest" | relative_url}}">
  <link rel="mask-icon" href="{{"/safari-pinned-tab.svg | relative_url}}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="theme-color" content="#ffffff">
</head>
