<header>
  <h1>{{ site.title | escape }}</h1>
  <nav>
    <a href="{{ "/" | relative_url}}">All Posts</a>
    <a href="{{ "/tags" | relative_url}}">Tags</a>
    <a href="{{ "/feed.xml" | relative_url}}">Atom Feed</a>
    <a href="{{ "/" }}">Back to Weld's Web Nest</a>
  </nav>
  <button id="theme-switcher" onclick="toggleTheme()">Switch to light theme?</button>
</header>
