<article>
    {% assign author = site.authors | where:"url_name", post.author | first %}
    <h3><a href="{{ post.url | relative_url }}">{{post.title}}</a></h3>{% if author %}<h4>by the partition <a href="{{ author.url | relative_url }}">{{author.name}}</a></h4>{% endif %}
    {% if post.content-warnings and post.excerpt %}
    <details>
      <summary>
        {%if post.content-warnings%} ⚠ Content warnings: {{ post.content-warnings }}
        <hr />
        {%endif%}{{ post.excerpt }}
      </summary>
      {{ post.content | remove_first: post.excerpt }}
    </details>
    <hr />
    <p class = "tags">
      Tags: {{ post | tags }}, posted on <a href="{{post.url | relative_url}}">{{ post.date | date_to_long_string }}</a></p>
    {% else %}
      {{post.content}}
    {% endif %}
</article>
