:root{
  --background-color: rgba(0, 0, 0, 0.85);
  --button-color: black;
  --text-color: white;
  --link-color: #99f5fc;
  --visited-link-color: #fc99e2;
  --focus-link-color: black;
  --background-image: url(../images/background-dark.png);
  --overall-background: #380249;
}
