:root{
  --background-color: rgba(249, 249, 249, 0.85);
  --button-color: white;
  --text-color: black;
  --link-color: #0000EE;
  --visited-link-color: #551A8B;
  --focus-link-color: white;
  --background-image: url(../images/background-light.png);
  --overall-background: #f0ccfc;
}
