@font-face {
    font-family: "Luciole";
    src: url("/blog/assets/fonts/Luciole-Regular.ttf");
}
@font-face {
    font-family: "Architect's Daughter";
    src: url("/blog/assets/fonts/ArchitectsDaughter-Regular.ttf");
}

button{
  border-radius: 10px;
  border: 3px dotted;
  border-color: inherit;
  background-color: var(--button-color);
  color: var(--text-color);
  cursor: pointer;
}
#theme-switcher{
  font-size: 1.3rem;
}
button:hover, button:focus{
  border-style: solid;
  border-color: var(--text-color);
}
a{
  color: var(--link-color);
}
a:visited{
  color: var(--visited-link-color);
}
a:focus, a:visited:focus, a:hover, a:visited:hover{
  color: var(--focus-link-color);
  background-color: var(--link-color);
}
body {
  margin: 10px;
  background: no-repeat;
  background-image: var(--background-image);
  background-size: cover;
  background-color: var(--overall-background);
  font-size: 20px;
  color: var(--text-color);
  font-family: "Luciole",sans-serif;
}
header, footer{
  width: 25%;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}
h1{
  font-weight: bold;
  font-size: 3em;
  font-family: "Architect's Daughter", cursive;
}

footer{
  float: right;
}
main{
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 4px;
  width: auto;
}
main>section,main>article, main>nav, header, footer {
  padding: 10px;
  border: 20px white;
  margin: 5px;
  border-style: double;
  border-radius: 10px;
  background-color: var(--background-color);
  height: auto;
  flex-grow: 0;
}

header, main nav{
  border-color: #ff00a9;
}
footer{
  border-color: white;
}
nav>a{
  margin: 10px;
  padding: 5px;
}
header>nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav.paginator{
  display: flex;
  justify-content: space-between;
}
main>article{
  border-color: #8545ff;
}
section.tags-list{
  border-color: #21e81a;
}
section.author-heading{
  border-color: #21e81a;
}
section.tag-heading{
  border-color: #21e81a;
}
