---
layout: default
pagination:
  enabled: true
---
<section class="author-heading">
  <h2>Posts by {{ page.name }}:</h2>
</section>
{% assign authored_posts = site.posts | where:"author", page.url_name %}
{% for post in authored_posts %}
{% include post_listing.html post=post %}
{% endfor %}
