<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body>
    {% include header.html %}
    <!--horny on-->
    <main>
      {{content}}
    </main>

    {% include footer.html %}

  </body>
  {% include load_last.html %}
</html>
