---
layout: default
---
<article>
    <h2><a href="{{ page.url | relative_url }}">{{page.title}}</a></h2>
    {% if page.content-warnings and page.excerpt %}
    <details>
      <summary>
        {%if page.content-warnings%} ⚠ Content warnings: {{ page.content-warnings }}
        <hr />
        {%endif%}{{ page.excerpt }}
      </summary>
      {{ page.content | remove_first: page.excerpt }}
    </details>
    <hr />
    <p class = "tags">
      Tags: {{ page | tags }}, posted on <a href="{{page.url | relative_url}}">{{ page.date | date_to_long_string }}</a>
    </p>
    {% else %}
      {{page.content}}
    {% endif %}

</article>
