---
layout: default
pagination:
  enabled: true
---
<section class="tag-heading">
  <h2>Posts with tag: {{ page.tag }}</h2>
</section>
{% for post in page.posts %}
{% include post_listing.html post=post %}
{% endfor %}
